# TODO: maybe we could use GLAD since glew is generated automatically
# [submodule "engine/lib/glew"]
# 	path = engine/lib/glew
# 	url = https://github.com/nigels-com/glew.git
[submodule "engine/lib/yaml-cpp"]
	path = engine/lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "engine/lib/glm"]
	path = engine/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/lib/glfw"]
	path = engine/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/lib/imgui"]
	path = engine/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/lib/ImGuiFileDialog"]
	path = engine/lib/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "engine/lib/box2d"]
	path = engine/lib/box2d
	url = git@github.com:hello-world-was-taken/box2d.git
